.footer__wrapper {
  background-color: black;
  height: 28em;
  margin-top: 0.1em;
  margin-bottom: 0%;
}

.first__line {
  display: flex;
  height: 16em;
}
.footer-about {
  margin-left: 20em;
  width: 40em;
}
.footer-links {
  width: 30%;
}
.footer-subscribe {
  width: 35%;
}

.second__line {
  height: 9em;
  width: 30%;
  align-items: center;

  margin-left: 27em;
}
.footer__h1suscribe {
  margin-left: 42%;
  color: white;
  font-size: 1.5em;
}
.footer__p1suscribe {
  margin-left: 42%;
  color: white;
}
.footer__h1links {
  margin-left: 35%;
  color: white;
  font-size: 1.5em;
}
.footer__p1links {
  margin-left: 35%;
  color: white;
}
.footer__h1 {
  margin-left: 39%;
  color: white;
  font-size: 1.5em;
}
.footer__p1 {
  padding: 0.5em 1em 1em 1em;
  color: white;
}
.connect__title {
  margin-left: 29%;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}

.Facebook__logo {
  max-height: 4em;
  width: 4em;
  margin-bottom: 3em;
}
.instagram__logo {
  max-height: 4em;
  width: 4em;
  margin-bottom: 3em;
}
.youtube__logo {
  max-height: 4em;
  width: 4em;
  margin-bottom: 3em;
}

.LinkedIn__logo {
  max-height: 4em;
  width: 4em;
  margin-bottom: 3em;
}
.footer__icons {
  max-height: 5em;
  margin-top: 2em;
  margin-left: 4.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
