.navbar {
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
  top: 0;
  z-index: 100;
  width: 100%;
  position: sticky;
  font-family: "Sans-serif";
  margin-bottom: 0%;
}

.navbar__intro {
  display: flex;
  margin-top: 10px;
}

.navbar__title {
  color: white;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 0;
}

.navbar__title:hover {
  color: red;
}

.navbar__logo {
  display: flex;
  width: 90px;
  justify-items: center;
  align-items: center;
  height: 57px;
  object-fit: contain;
  margin: 5px 5px;
  padding-bottom: 15px;
  color: white;
}

.navbar__serach {
  width: 40%;
  display: flex;
  margin-top: 10px;
  margin-left: 25em;
}

.navbar__searchInput {
  width: 100%;
  margin-top: 5px;
}

.navbarsearch__field {
  margin-top: -1em;
  width: 99%;
  border-style: none;
  height: 2em;
  background-color: gainsboro;
}
.navbar__searchIcon {
  padding: 5px;
  background-color: gainsboro;
  cursor: pointer;
  margin-top: 0.1em;
  margin-left: 3px;
}

.navbar__searchIcon:hover {
  background-color: red;
  cursor: pointer;
}
.history__logo:hover {
  background-color: red;
  cursor: pointer;
}
.navbar__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1em;
}

.navbar__optionLineOne {
  font-size: 10px;
  margin-top: 10px;
}

.navbar__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.navbar__option {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 10px;
  color: white;
  justify-content: space-evenly;
}

.navbar__optionBasket {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 7px;
  margin-left: 0.3em;
}

.basket__logo {
  margin-left: 5px;
}

.link {
  text-decoration: none;
}
.navbar__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar__optionBasket:hover,
.navbar__option:hover {
  color: red;
  font-size: 12px;
}
.navbar__optionhis {
  margin-left: 0.4em;
}
.history__logo {
  margin-top: 9px;
  color: white;
  margin-left: 0;
}
