.productdetailswrapper {
  display: flex;
  background-color: black;
  height: 100%;
  width: 95%;
}
.productdetails {
  background-color: black;
}
.productdetails__infoimage {
  margin: 1em 1em 1em 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 30%;
  height: 70%;
}
.productdetails__image {
  width: 18em;
  height: 25em;
  box-shadow: 2px 2px #888888;
}
.productdetails__info {
  width: 75%;
  background-color: black;
  margin-top: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.productdetails__infotitle {
  font-size: 2em;
  font-weight: 500;
  padding-top: 0.5em;
}

.productdetails__infoauthor {
  margin-top: -0.7em;
  font-size: 1em;
  color: white;
}
.productdetails__infogenre {
  margin-top: -0.7em;
  font-size: 1em;
  color: white;
}

.productdetails__infodesc {
  font-family: serif;
  font-style: italic;
  font-size: 1.2em;
  background-color: black;
  color: white;
}
.productdetails__infobutton {
  width: 15%;
  padding-left: 1.5em;
}
.productdetails__cartbutton {
  width: 12em;
  height: 2.5em;
  font-size: 1em;
  align-items: center;
  color: white;
  background-color: #56baed;
  border: none;
  border-radius: 0.2em;
  margin-left: -1.2em;
}
.productdetails__cartbutton:hover {
  color: red;
  cursor: pointer;
}
.productdetails__infobuttonbox {
  margin-top: 3em;
  border: 1px solid #949294;
  padding-left: 2.5em;
  padding-top: 6em;
  height: 11em;
  width: 12em;
  box-shadow: 2px 2px #888888;
}

.productdetails__infoprice {
  margin-top: -2em;
  margin-bottom: 2em;
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 1.4em;
}

.productdetails__infoquantity {
  display: flex;
  justify-content: center;
  margin-top: -0.5em;
  margin-bottom: 2em;
  margin-left: -2.5em;
}
.productdetails__icon :hover {
  cursor: pointer;
  color: red;
}

.productdetails__inputquantity {
  width: 3em;
  height: 1.5em;
  border: none;
  box-shadow: 2px 2px 2px 2px #888888;
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-align: center;
}
.productdetail__recommendation {
  display: flex;
  padding: 1em 1em 1em 1em;
  margin-left: 2.2em;
  margin-top: 4em;
}
.productdetail__recommendationcard {
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
.productdetails__synopsis {
  color: white;
}
.productdetails__infotitle {
  color: white;
}
.productdetails_recomtitle {
  color: white;
  margin-top: 2em;
  margin-left: 20em;
  font-size: 24px;
}
.productdetails__infoprice {
  color: white;
}
.productdetails__icon {
  color: white;
}
