.purchasecontainer {
  display: flex;
  height: 100%;
}
.purchasecontainer__left {
  width: 70%;
}

.purchasecontainer__right {
  width: 30%;
}
.purchasecontainer__leftbox {
  width: 70%;
  float: center;
  height: auto;

  margin-left: 4.4em;
  margin-top: 3em;
  background-color: whitesmoke;
  box-shadow: 5px 5px #888888;
  border-radius: 3px;
}
.purchase__image {
  height: 8em;
  width: 6em;
  padding-left: 0.7em;
  margin-top: -0.15em;
  margin-bottom: 0.5em;
  padding-top: 0.8em;
}
.purchase__items {
  display: flex;
  margin-top: 1em;
  padding-top: 0.5em;
  /* border: 2px solid yellow; */
  height: 10em;
  margin-bottom: 0%;
}
.purchase__itemsprice {
  margin-left: 9em;
  margin-top: 0.7em;
  margin-right: 1.7em;
  padding-top: 0.8em;
}
.purchase__itemstitle {
  width: 22em;
  /* border: 2px solid green; */
  padding-left: 1em;
  margin-left: 0.7em;
  padding-top: 0.7em;
  margin-bottom: 1em;
}
.purchasecontainer__title {
  padding-left: 0.7em;
  font-family: serif;
  padding-top: 1em;
}

.purchase__itemsquantity {
  padding-top: 1em;
}
