.search__container {
  margin-top: 2px;
  display: inline-flex;
  margin-bottom: 1px;
  background-color: black;
  width: 100%;
}
.search_card {
  display: inline-flex;
  padding: 1em 1em 1em 1em;
  margin-top: 1em;
  margin-left: 2.5em;
}
.searchresult__image {
  height: 18em;
  width: 14em;
  margin-top: -0.5em;
}
.bookcontainer__title {
  margin-left: 0;
  margin-top: -0.7em;

  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  color: white;
}
.search__title {
  color: white;
  font-size: 24px;
  margin-left: 20em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
